<ion-header>
  <ion-toolbar>
    <ion-title>Metro Quadrado</ion-title>
    <ion-button (click)="closeModal()" slot="end" class="ios button button-clear ion-activatable ion-focusable hydrated">Fechar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>
    <ion-label position="stacked">Comprimento</ion-label>
    <ion-input required type="number" [(ngModel)]="height"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Largura</ion-label>
    <ion-input required type="number" [(ngModel)]="width"></ion-input>
  </ion-item>

  <ion-button fill="outline" expand="block" (click)="calc()">
    Calcular
  </ion-button>
  
</ion-content>
