<ion-header>
  <ion-toolbar>
    <ion-title>IMC</ion-title>
    <ion-button (click)="closeModal()" slot="end" class="ios button button-clear ion-activatable ion-focusable hydrated">Fechar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item>
    <ion-label position="stacked">Sexo</ion-label>
    <ion-select placeholder="Selecione">
      <ion-select-option value="f">Feminino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
    </ion-select>
  </ion-item> -->
    
  <ion-item>
    <ion-label position="stacked">Peso</ion-label>
    <ion-input required type="number" [(ngModel)]="peso"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Altura</ion-label>
    <ion-input required type="number" [(ngModel)]="altura"></ion-input>
  </ion-item>

  <ion-button shape="round" fill="outline" expand="full" (click)="enviaDados()">
    Calcular
  </ion-button>
  
</ion-content>
